<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.system.dao.RoleMenuMapper">

    <insert id="insert">
        INSERT INTO sys_role_menu (menu_id, role_id)
        VALUES (#{menuId,jdbcType=INTEGER},#{roleId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteByPrimaryKey">
        DELETE sys_role_menu
        FROM sys_role_menu,sys_menu
        WHERE sys_role_menu.menu_id = sys_menu.id
        AND sys_menu.parent_id != 0
        <if test="menuId != null">AND sys_role_menu.menu_id = #{menuId,jdbcType=INTEGER}</if>
        <if test="roleId != null">AND sys_role_menu.role_id = #{roleId,jdbcType=INTEGER}</if>
        <if test="menuType != null">AND sys_menu.type = #{menuType,jdbcType=INTEGER}</if>
    </delete>

    <select id="selectByRoleId" resultType="java.lang.Integer">
        SELECT menu_id as id
        FROM sys_role_menu
        <where>
            <if test="roleId != null">role_id = #{roleId,jdbcType=INTEGER}</if>
            <if test="menuType != null">type = #{menuType,jdbcType=INTEGER}</if>
        </where>
    </select>

</mapper>