<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.system.dao.UserRoleMapper">

    <insert id="insert" parameterType="com.manage.system.model.SysUserRoleDto">
      insert into sys_user_role
        (user_id, role_id)
	  values
	    (#{userId,jdbcType=VARCHAR},#{roleId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteByParam">
        DELETE FROM t_user_role_group
        <where>
            user_id = #{userId,jdbcType=VARCHAR}
            <if test="roleId != null">AND role_id = #{roleId,jdbcType=INTEGER}</if>
        </where>
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.manage.system.model.SysRoleDto">
        UPDATE sys_user
        <set>
            update_time = now()
            <if test="name != null and name != ''">,name = #{name,jdbcType=VARCHAR}</if>
            <if test="desc != null and desc != ''">,desc = #{desc,jdbcType=VARCHAR}</if>
            <if test="updateUser != null and updateUser != ''">,update_user = #{updateUser,jdbcType=VARCHAR}</if>
            update_time = now()
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectByParam" resultType="com.manage.system.model.SysRoleDto">
        SELECT
        sr.id as id,
        sr.name as name,
        sr.desc,
        sr.update_user as updateUser,
        sr.update_time as updateTime
        FROM sys_user su,sys_role sr, sys_user_role sur
        <where>
            su.user_id = sur.user_id
            AND sur.role_id = sr.id
            <if test="userId != null and userId != ''">AND su.user_id = #{userId,jdbcType=VARCHAR}</if>
            <if test="roleId != null">AND turg.role_id = #{roleId,jdbcType=INTEGER}</if>
        </where>
    </select>

    <!--<select id="selectByParam" resultType="com.manage.system.model.SysUserRoleDto">
        SELECT
        turg.id,
        turg.user_id,
        turg.role_id,
        turg.group_id,
        tr.type    AS role_type,
        tu.account AS account,
        tg.name    AS group_name,
        turg.create_time,
        turg.create_user
        FROM sys_user tu,t_user_role_group turg, t_role tr, t_group tg
        <where>
            turg.role_id = tr.id
            AND turg.group_id = tg.id
            AND turg.user_id = tu.id
            <if test="userId != null">AND turg.user_id = #{userId,jdbcType=VARCHAR}</if>
            <if test="roleId != null">AND turg.role_id = #{roleId,jdbcType=INTEGER}</if>
            <if test="groupId != null">AND turg.group_id = #{groupId,jdbcType=INTEGER}</if>
        </where>
    </select>-->

</mapper>