<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doc.dao.UserMapper">
    <resultMap id="userRolesMap" type="com.doc.model.UserDto">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="name" property="name"/>
        <result column="pwd" property="pwd"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="note" property="note"/>
        <result column="ctrate_time" property="ctrateTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="roles" column="id" select="com.doc.dao.UserRoleMapper.selectByUid"/>
    </resultMap>

    <insert id="insert" parameterType="com.doc.model.UserDto">
        insert into t_user (account,name, pwd, email, phone, status,note)
        values (#{account,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},#{note,jdbcType=VARCHAR})
    </insert>

    <select id="selectAll" resultType="com.ai.model.UserDto">
        select id, account, name, pwd, email, phone, status, note, ctrate_time, update_time
        from t_user
        <where>
            <if test="account != null and account != ''">account LIKE #{account,jdbcType=VARCHAR}</if>
            <if test="name != null and name != ''">AND name LIKE #{name,jdbcType=VARCHAR}</if>
            <if test="status != null">AND status = #{status,jdbcType=INTEGER}</if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultType="com.ai.model.UserDto" parameterType="java.lang.Integer">
        select id, account, name, pwd, email, phone, status, note, ctrate_time, update_time
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_user where ID = #{id,jdbcType=INTEGER}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.ai.model.UserDto">
        UPDATE t_user
        <set>
            <if test="account != null and account != ''">account = #{account,jdbcType=VARCHAR},</if>
            <if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
            <if test="pwd != null and pwd != ''">pwd = #{pwd,jdbcType=VARCHAR},</if>
            <if test="email != null and email != ''">email = #{email,jdbcType=VARCHAR},</if>
            <if test="phone != null">phone = #{phone,jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
            <if test="note != null and note != ''">note = #{note,jdbcType=VARCHAR},</if>
            update_time = now()
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

</mapper>