<div class="row" id="updateUserPassword" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <!-- form start -->
                <form class="form-horizontal" id="updateUserPasswordForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="userId" class="col-sm-4 control-label">帐号</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control validate" id="userId" name="userId"
                                       placeholder="帐号（半角英文数字）" readonly>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-sm-4 control-label">姓名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control validate" id="alias" name="alias"
                                       placeholder="姓名" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">当前密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control validate" id="password" name="password"
                                       placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">新密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control validate" id="newPassword"
                                       name="newPassword" placeholder="新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">确认密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control validate" id="confirmPassword"
                                       name="confirmPassword" placeholder="确认密码">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关<span style="padding-left: 12px"/>闭
                </button>
                <button type="button" class="btn btn-primary" id="updatePassword" onclick="updatePassword();">
                    修<span style="padding-left: 12px"/>改
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //弹开修改用户密码页面之前，查询当前用户信息填充表单数据
    $(".navbar-custom-menu").delegate('.updateUserPassword', "click", function () {
        //获取用户数据
        $.ajax({
            type: "POST",
            url: '/user/from/session',
            async: false,
            dataType: 'json',
            success: function (result) {
                if (result.status == 0) {
                    var user = result.data;
                    var form = $("#updateUserPasswordForm");
                    form.find("input[id='userId']").val(user.userId);
                    form.find("input[id='alias']").val(user.alias);

                    form.find("input[id='password']").val('');
                    form.find("input[id='newPassword']").val('');
                    form.find("input[id='confirmPassword']").val('');
                }

            }
        });


    });
    function updatePassword() {
        if (!formValidation($("#updateUserPasswordForm"))) {
            return;
        }
        $.ajax({
            type: "GET",
            data: {
                userId: $("#userId").val(),
                password: $("#password").val(),
                newPassword: $("#newPassword").val()
            },
            url: '/user/update/password',
            async: false,
            dataType: 'json',
            success: function (result) {
                if (result.status != 0) {
                    layer.msg(result.message);
                    return;
                } else {
                    $("#updateUserPasswordModal").modal('hide');
                    layer.msg(result.message);
                }
            }
        });

    }

    function formValidation(form) {
        var ret = true;
        //校验所有带有validate的class
        $(form).find(".validate").each(function () {
            if (ret) {
                ret = setInputTips(this);
            }
        });
        return ret;
    }
    /** 表单验证提示效果 */
    function setInputTips(field) {
        $(field).parent().find('.formtips').remove().end();
        var userIdRex = new RegExp("^[a-z0-9]([-a-z0-9]*[a-z0-9])?$");
        var password = new RegExp("^[a-zA-Z0-9]{1,8}$");
        var v = $(field).val();
        // 返回结果
        var result = true;
        if ($(field).attr("datatype") == 'number' && (v % 1 != 0 || isNaN(v))) {
            $(field).closest('.form-group').addClass('has-error');
            $(field).parent().append('<span class="formtips" style="color:#dd4b39">必须为整数!</span>');
            result = false;
        } else if (v === '') {
            $(field).closest('.form-group').addClass('has-error');
            $(field).parent().append('<span class="formtips" style="color:#dd4b39">不能为空!</span>');
            result = false;
        } else if ($(field).attr("id") == 'userId' && !userIdRex.test(v)) {
            $(field).closest('.form-group').addClass('has-error');
            $(field).parent().append('<span class="formtips" style="color:#dd4b39">格式不正确!(只能为英文或数字或英文数字组合)</span>');
            result = false;
        } else if ($(field).attr("id") == 'password' && !password.test(v)) {
            $(field).closest('.form-group').addClass('has-error');
            $(field).parent().append('<span class="formtips" style="color:#dd4b39">密码格式不正确!(只能为英文或数字组合，不能超过8位)</span>');
            result = false;
        } else if ($(field).attr("id") == 'newPassword' && !password.test(v)) {
            $(field).closest('.form-group').addClass('has-error');
            $(field).parent().append('<span class="formtips" style="color:#dd4b39">密码格式不正确!(只能为英文或数字组合，不能超过8位)</span>');
            result = false;
        } else if ($(field).attr("id") == 'confirmPassword' && v != $("#newPassword").val()) {
            $(field).closest('.form-group').addClass('has-error');
            $(field).parent().append('<span class="formtips" style="color:#dd4b39">确认密码与新密码不一致</span>');
            result = false;
        } else {
            $(field).closest('.form-group').removeClass('has-error');
//            $(field).closest('.form-group').removeClass('has-error').addClass('has-SUCCESS');
        }
        return result;
    }
</script>