<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="dev">

        <logger name="jdbc.sqltiming" level="INFO" />
        <logger name="jdbc.sqlOnly" level="INFO" />
        <logger name="com.manage" level="DEBUG"/>
        <logger name="org.springframework" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="deploy">
        <appender name="dailyRollingFileAppender"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>./logs/doc-manager/backend.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <FileNamePattern>./logs/doc-manager/backend.%d{yyyy-MM-dd}.%i.log
                </FileNamePattern>
                <!-- keep 30 days' worth of history -->
                <maxHistory>30</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>1MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{80}.%method:%L -%msg%n</Pattern>
            </layout>
        </appender>

        <root level="WARN">
            <appender-ref ref="dailyRollingFileAppender" />
        </root>
    </springProfile>

</configuration>